{% extends "base.html" %}

{% block title %}Engineering Student Profile{% endblock %}

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='form_style.css') }}">
{% endblock %}

{% block content %}

<h2>Engineering Student Profile</h2>

<p>
    Complete this form to provide information about your academic background,
    technical skills, internship experience, and Final Year Project preferences.
</p>

<br>

<form action="{{ url_for('submit_profile') }}" method="post">

    <fieldset>
        <legend>1. Personal Information</legend> <br>

        <label for="student_id">Student ID:</label>
        <input
            type="text"
            id="student_id"
            name="student_id"
            placeholder="202702936"
            pattern="[0-9]{9}"
            maxlength="9"
            required
        >

        <br> <br>

        <label for="fullname">Full Name:</label>
        <input
            type="text"
            id="fullname"
            name="fullname"
            size="25"
            placeholder="First name and last name"
            required
        >

        <br> <br>

        <label for="email">USEK Email:</label>
        <input
            type="email"
            id="email"
            name="email"
            size="35"
            placeholder="student@net.usek.edu.lb"
            required
        >

        <br> <br>

        <label for="phone">Mobile Number:</label>
        <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="+961 70 123456"
            required
        >

        <br> <br>

        <label for="birthdate">Date of Birth:</label>
        <input
            type="date"
            id="birthdate"
            name="birthdate"
            required
        >

        <br> <br>

        <label for="portfolio">GitHub:</label>
        <input
            type="url"
            id="portfolio"
            name="portfolio"
            size="35"
            placeholder="https://github.com/username"
        >

        <br> <br>

        <label for="gin446">GIN446 Website:</label>
        <input
            type="url"
            id="gin446"
            name="gin446"
            size="45"
            placeholder="Your RENDER website link"
        >
        <br> <br>

    </fieldset>

    <br> <br>

    <fieldset>
        <legend>2. Academic Information</legend> <br>

        <label for="major">Engineering Major:</label>
        <select id="major" name="major" required>
            <option value="" selected disabled>-- Select your major --</option>
            <option value="Biomedical">Biomedical Engineering</option>
            <option value="Chemical">Chemical Engineering</option>
            <option value="Computer">Computer Engineering</option>
            <option value="Electrical">Electrical Engineering</option>
            <option value="Mechanical">Mechanical Engineering</option>
            <option value="Telecommunications">Telecommunications Engineering</option>
        </select>

        <br> <br>

        <label for="gpa">Current GPA / 100:</label>
        <input
            type="number"
            id="gpa"
            name="gpa"
            placeholder="91.83"
            maxlength="5"
            min="40"
            max="100"
            step="0.01"
            required
        >

        <br> <br>

        <label for="credits">Credits Completed:</label>
        <input
            type="number"
            id="credits"
            name="credits"
            placeholder="120"
            maxlength="3"
            min="0"
            max="146"
            required
        >

        <br> <br>

        <fieldset>
            <legend>Expected Graduation:</legend>

            <input
                type="radio"
                id="spring"
                name="graduation"
                value="Spring"
            >
            <label for="spring">Spring</label>

            <input
                type="radio"
                id="summer"
                name="graduation"
                value="Summer"
            >
            <label for="summer">Summer</label>

            <input
                type="radio"
                id="fall"
                name="graduation"
                value="Fall"
            >
            <label for="fall">Fall</label>
        </fieldset>


            <br> <br>

            <label for="graduation_month">Expected Graduation Month &amp; Year:</label>
            <input
                type="month"
                id="graduation_month"
                name="graduation_month"
                required
            >

            <br> <br>

        <fieldset>
            <legend>Have you completed an engineering internship?</legend>

            <input
                type="radio"
                id="internship_yes"
                name="internship_completed"
                value="Yes"
                required
            >
            <label for="internship_yes">Yes</label>

            <input
                type="radio"
                id="internship_no"
                name="internship_completed"
                value="No"
            >
            <label for="internship_no">No</label>
        </fieldset>

            <br> <br>

    </fieldset>

    <br> <br>

    <fieldset>
        <legend>3. Technical Background</legend> <br>

        <p>Select all areas in which you have experience:</p>

        <input
            type="checkbox"
            id="programming"
            name="skills"
            value="Programming"
        >
        <label for="programming">Programming</label>
        <br>

        <input
            type="checkbox"
            id="embedded"
            name="skills"
            value="Embedded Systems"
        >
        <label for="embedded">Embedded Systems</label>
        <br>

        <input
            type="checkbox"
            id="electronics"
            name="skills"
            value="Electronics"
        >
        <label for="electronics">Electronics</label>
        <br>

        <input
            type="checkbox"
            id="networks"
            name="skills"
            value="Computer Networks"
        >
        <label for="networks">Computer Networks</label>
        <br>

        <input
            type="checkbox"
            id="telecommunications"
            name="skills"
            value="Telecommunications"
        >
        <label for="telecommunications">Telecommunications</label>
        <br>

        <input
            type="checkbox"
            id="biomedical"
            name="skills"
            value="Biomedical Instrumentation"
        >
        <label for="biomedical">Biomedical Instrumentation</label>
        <br>

        <input
            type="checkbox"
            id="ai"
            name="skills"
            value="Artificial Intelligence / Machine Learning"
        >
        <label for="ai">Artificial Intelligence / Machine Learning</label>
        <br>

        <input
            type="checkbox"
            id="signal"
            name="skills"
            value="Signal Processing"
        >
        <label for="signal">Signal Processing</label>
        <br>

        <input
            type="checkbox"
            id="image"
            name="skills"
            value="Image Processing"
        >
        <label for="image">Image Processing</label>

        <br><br>

        <label for="language">Primary Programming Language:</label>
        <input
            type="text"
            id="language"
            name="language"
            list="languages"
            placeholder="Start typing..."
            required
        >

        <datalist id="languages">
            <option value="Python">
            <option value="C">
            <option value="C++">
            <option value="Java">
            <option value="JavaScript">
            <option value="MATLAB">
        </datalist>

        <br><br>

        <label for="software">Engineering Software Used:</label>
        <select id="software" name="software" multiple>
            <option value="MATLAB">MATLAB</option>
            <option value="Simulink">Simulink</option>
            <option value="LabVIEW">LabVIEW</option>
            <option value="LTspice">LTspice</option>
            <option value="Vivado">Vivado</option>
            <option value="SolidWorks">SolidWorks</option>
        </select>

        <p>
            Hold Ctrl (Windows) or Command (Mac) to select several options.
        </p>
    </fieldset>

    <br> <br>

    <fieldset>
        <legend>4. Final Year Project</legend> <br>

        <label for="project_title">Proposed Project Title:</label>
        <input
            type="text"
            id="project_title"
            name="project_title"
            size="25"
            placeholder="Enter a tentative project title"
            maxlength="100"
            required
        >

        <br> <br>

        <label for="project_area">Preferred Project Area:</label>
        <select id="project_area" name="project_area" required>

            <option value="" selected disabled>-- Select a project area --</option>

            <optgroup label="Biomedical Engineering">
                <option value="Medical Imaging">
                    Medical Imaging
                </option>
                <option value="Biosensors">
                    Biosensors
                </option>
                <option value="Medical Devices">
                    Medical Devices
                </option>
            </optgroup>

            <optgroup label="Chemical Engineering">
                <option value="Process Control">
                    Process Control
                </option>
                <option value="Design of Chemical Reactors">
                    Design of Chemical Reactors
                </option>
                <option value="Wastewater Treatment">
                    Wastewater Treatment
                </option>
            </optgroup>

            <optgroup label="Computer Engineering">
                <option value="Artificial Intelligence">
                    Artificial Intelligence
                </option>
                <option value="Web Applications">
                    Web Applications
                </option>
                <option value="Cybersecurity">
                    Cybersecurity
                </option>
                <option value="Internet of Things">
                    Internet of Things
                </option>
            </optgroup>

            <optgroup label="Electrical Engineering">
                <option value="Power Systems">
                    Power Systems
                </option>
                <option value="Renewable Energy">
                    Renewable Energy
                </option>
                <option value="Control Systems">
                    Control Systems
                </option>
            </optgroup>


            <optgroup label="Telecommunications Engineering">
                <option value="Signal Processing">
                    Signal Processing
                </option>
                <option value="Image Processing">
                    Image Processing
                </option>
                <option value="Wireless Communications">
                    Wireless Communications
                </option>
                <option value="5G / 6G Networks">
                    5G / 6G Networks
                </option>
            </optgroup>
        </select>

        <br> <br>

        <label for="description">Brief Project Description:</label> <br>
        <textarea
            id="description"
            name="description"
            rows="5"
            cols="50"
            maxlength="500"
            placeholder="Describe the problem, proposed solution, and expected outcome..."
            required
        ></textarea>

        <br> <br>

        <label for="team_size">Preferred Team Size:</label>
        <input
            type="number"
            id="team_size"
            name="team_size"
            min="1"
            max="5"
            step="1"
            value="2"
            required
        >

        <br> <br>

        <label for="project_color">Choose a color for your project dashboard:</label>
        <input
            type="color"
            id="project_color"
            name="project_color"
        >

        <br> <br>

        <label for="meeting_date">Preferred Meeting Date:</label>
        <input
            type="date"
            id="meeting_date"
            name="meeting_date"
        >

        <br> <br>

        <label for="meeting_time">Preferred Meeting Time:</label>
        <input
            type="time"
            id="meeting_time"
            name="meeting_time"
        >

        <br> <br>

    </fieldset>

    <input
        type="hidden"
        name="form_version"
        value="2026-2027"
    >

    <br>

    <input
        type="checkbox"
        id="confirmation"
        name="confirmation"
        required
    >
    <label for="confirmation">
        I confirm that the information provided is accurate.
    </label>

    <br><br>

    <button type="submit">Submit Profile</button>
    <button type="reset">Clear Form</button>

</form>

{% endblock %}